<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scorekeeper.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
				<key>dateExpires</key>
				<string>14.10.2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>in_app_purchase_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>in_app_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>soundpool.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F2ACDE4B7E2F798A61706D38C81248DB8B888D</string>
						<key>dateExpires</key>
						<string>14.10.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F944XSLN</string>
						<key>name</key>
						<string>XIAG AG</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>45FK5Z897U.ch.xiag.scorekeeper</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J7F944XSLN</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>43081272-e133-48cf-9c96-b57f764c38b5</string>
				<key>dateExpires</key>
				<string>25.10.2022</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ch.xiag.scorekeeper</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J7F944XSLN</string>
				<key>name</key>
				<string>XIAG AG</string>
			</dict>
			<key>versionNumber</key>
			<string>0.10.0</string>
		</dict>
	</array>
</dict>
</plist>
